//$primary: rgb(44,62,80); bu renk navbar rengi
$secondary:rgb(44,62,80);
$primary: rgb(26,188,156);


$font-family-sans-serif: "Montserrat",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji"
  ;

  $headings-font-family: "Montserrat",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji';

$headings-font-weight: 700;

.page-section {
    padding: 6rem 0;

    .page-section-heading {
        font-size: 2.25rem;
        //line-height: 2rem;
    }

    // @include media-breakpoint-up(lg) {
    //     .page-section-heading {
    //         font-size: 3rem;
    //         //line-height: 2.5rem;
    //     }
    // }
}
